<section class="card border-dark">
    <h3 class="card-header bg-dark text-light">Create New Post</h3>
    <form class="new-post-form card-body">
        <div class="form-group">
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" class="form-control" />
        </div>
        <div class="form-group">
            <label for="post-content">Content</label>
            <textarea id="post-content" name="post-content" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary d-block w-100">Create</button>
    </form>
</section>
<script src="/javascript/add-post.js"></script>