{{> post-info post}}

{{#if post.comments.length}}
<div class="comments post card border-dark mb-4">
    <h3 class="card-header bg-dark text-light">Comments</h3>
    <div class="card-body">
        {{#each post.comments}}
        <p class="comment">
            {{comment_text}}
            <br />
            - {{user.username}}, {{format_date created_at}}
        </p>
        {{/each}}
    </div>
</div>
{{/if}}

{{#if loggedIn}}
<div class="card border-dark">
    <h3 class="card-header bg-dark text-light">Add a Comment</h3>
    <form class="comment-form card-body">
        <div class="form-group">
            <textarea name="comment-body" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </form>
</div>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}