* {
    box-sizing: border-box;
  }
  
  html, body{
    background:#d9ead3;
  }

  h3 a,
  h3 a:hover{
    color: #fff;
    text-decoration: none;
    transition: opacity 200ms;
  }
  
  h3 a:hover{
    opacity: .75;
  }
  
  .app-title{
    margin-bottom: 25px;
    margin-left: 25px;
    font-size: 3rem;
    background-color: #d9ead3;
    color: black;
    display: inline-block;
    border-radius: 0.3rem;
    box-shadow: 6px 5px gray;
  }

  .card{
    background: rgba(255,255,255,.9);
    border-width: 3px;
  }
  
  .card-header,
  .card-header:first-child{
    border-radius: 0;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
  }
  .btn-no-style:hover{
    color: #cbd3da !important
  }
  
  .post .card-text{
    white-space: pre-wrap;
  }
  